<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--  日志的级别由低到高:  trace<debug<info<warn<error -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %logger [%t] - %m%n</pattern>
        </encoder>
    </appender>
<!--    @Slf4j(topic = "log")   即可输出特定日志 -->
    <logger name="log" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>